---
import { getCollection } from "astro:content";
import HomeLayout from "@layouts/HomeLayout.astro";
export async function getStaticPaths() {
  const indexs = await getCollection("indexs");
  return indexs.map((index) => ({
    params: { id: index.id },
    props: { index },
  }));
}
const { index } = Astro.props;
const { data } = index;
---

<HomeLayout>
  <h1>{data.title}</h1>
</HomeLayout>
