---
import { getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import HomeLayout from "@layouts/HomeLayout.astro";

export async function getStaticPaths() {
  const docsInfo = await getCollection("docsInfo");
  return docsInfo.map((item) => {
    return {
      params: { slug: item.data.slug },
      props: { title: item.data.title, item },
    };
  });
}
const { title, item } = Astro.props;
const { Content } = await render(item);
---

<Layout>
  <HomeLayout>
    <div class="max-w-full xl:max-w-2xl w-full">
      <h1 class="text-left">{title}</h1>
      <Content />
    </div>
    <div class="h-full relative hidden xl:block">
      <div
        class="w-56 h-[calc(100vh-8rem)] pr-6 fixed overflow-y-auto scrollbar"
      >
        <nav>
          <span class="text-white font-bold">Contenido</span>
          <ul class="list-none">
            <li class="py-0.5">
              <a href="">
                <span
                  class="text-slate-400 font-normal block cursor-pointer hover:text-slate-200"
                  >Item 1</span
                >
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </HomeLayout>
</Layout>
