---
interface CaptionProps {
  text: string;
  className?: string;
}
const { text, className } = Astro.props as CaptionProps;
---

<span class=`font-opensans text-sm font-regular ${className}`>{text}</span>
