---
interface SubtitleProps {
  text: string;
  className?: string;
}
const { text, className } = Astro.props as SubtitleProps;
---

<h2 class=`font-lexend text-xl font-semibold w-full ${className}`>{text}</h2>
