@import "tailwindcss";
@import "./theme.css";
@import "./prism.css";

h1 {
	font-size: 36px;
	line-height: 1.1111;
	font-family: "Lexend Variable", sans-serif;
	font-weight: 700;
	color: #FFFFFF;
	width: 100%;
}

h1:not(#title-main) {
	padding-bottom: 1.5rem;
}

h2, h3 {
	font-family: "Lexend Variable", sans-serif;
}

h2:not(#second-main-title) {
	font-size: 20px;
	line-height: 1.4;
	color: #FFFFFF;
	width: 100%;
	scroll-margin-top: 100px;
}

h2:not(#index-title, #second-main-title) {
	padding: 1rem 0;
}

h2:is(#repository, #contribute) {
	padding: 0.5rem 0;
}

p {
	font-size: 16px;
	line-height: 1.5;
	font-family: "Lexend Variable", sans-serif;
}

p:not(#name-logo, #name-of-navigation-pages) {
	color: #cccccc;
}

span {
	font-size: 14px;
	line-height: 1.4286;
	font-family: "Lexend Variable", sans-serif;
	color: #cccccc;
}

span:hover {
	color: var(--color-blue-strong);
}

strong {
	color: var(--color-blue-strong);
}

ins {
	color: var(--color-blue-strong);
}

html::-webkit-scrollbar, .scrollbar::-webkit-scrollbar, pre::-webkit-scrollbar {
	width: var(--sb-size);
	height: var(--sb-size);
}
html::-webkit-scrollbar-track, .scrollbar::-webkit-scrollbar-track, pre::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 0px;
}
html::-webkit-scrollbar-thumb, .scrollbar::-webkit-scrollbar-thumb, pre::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 0px;
}
@supports not selector(::-webkit-scrollbar) {
	html, .scrollbar, pre {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}