---
import Layout from "@layouts/Layout.astro";
import Logo from "@components/Logo.astro";
---

<Layout>
  <div
    class="w-full min-h-screen flex flex-col justify-center items-center gap-4"
  >
    <Logo />
    <p class="text-center text-purple-500 font-semibold pt-8">404 ERROR</p>
    <h1 class="text-center text-white">Página no encontrada</h1>
    <p class="text-center text-slate-400 font-normal">
      Disculpa, nosotros no encontramos la página que estás buscando.
    </p>
    <div class="flex flex-row justify-center items-center gap-4 pt-8">
      <a href="/">
        <span class="text-center text-purple-400 font-light"
          >Regresar al inicio</span
        >
      </a>
      <span class="text-slate-200 font-light"> →</span>
    </div>
  </div>
</Layout>
