---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
---

<Layout>
  <header class="flex flex-row justify-between items-center">
    <nav
      class="flex flex-row w-full justify-between items-center py-4 border-b-[0.5px] border-gray-light"
    >
      <Logo />
    </nav>
  </header>
  <main></main>
</Layout>
