---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
---

<Layout>
  <header class="flex flex-row justify-between items-center">
    <Logo />
  </header>
  <main></main>
</Layout>
