---
import { getCollection } from "astro:content";
const indexs = await getCollection("indexs");

interface Index {
  slug: string;
  title: string;
  linkes: string;
}
---

<aside id="sidebar-mobile" class="min-h-screen px-4 bg-[#101927] fixed left-0 top-0 transform -translate-x-full transition-transform duration-300">
	<div class="w-72 pr-6 pt-4">
		<div id="button-close-sidebar-mobile" class="cursor-pointer w-full py-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#ffffff" d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z"/></svg>
		</div>
		{
			indexs.map((index) => (
				<h2 id="index-title">{index.data.title}</h2>
				<ul class="list-none py-4">
					{
						index.data.items.map((info: Index) => (
							<li class="pl-4 border-l-[2px] border-l-slate-600 py-0.5 w-full hover:border-l-blue-strong">
								<a id="sidebar-left-link" href={info.linkes} class="w-full block">
									<span class="text-slate-400 font-light block cursor-pointer hover:text-blue-strong">{info.title}</span>
								</a>
							</li>
						))
					}
				</ul>
			))
		}
	</div>
</aside>

<script>
	document.addEventListener("astro:page-load", () => {
		const buttonCloseSideBarMobile = document.getElementById("button-close-sidebar-mobile");
		const containerSideBarMobile = document.getElementById("container-sidebar-mobile");
		const sideBar = document.getElementById("sidebar-mobile");
		buttonCloseSideBarMobile?.addEventListener("click", () => {
			sideBar?.classList.add("-translate-x-full");
			setTimeout(() => {
				containerSideBarMobile?.classList.add("hidden");
				document.body.classList.remove("overflow-y-hidden");
				document.body.classList.add("overflow-y-auto");
			}, 10);
		});
		})
</script>