---
interface NavigationProps {
  titleDirection: string;
  title: string;
  link?: string;
}
const { titleDirection, title, link } = Astro.props as NavigationProps;
---

<a
  href={`${link}`}
  class="w-full grid grid-cols-1 border-[0.5px] border-gray-700 rounded-lg px-4 py-6 cursor-pointer hover:border-[#38BDF8] hover:bg-[#38BDF8]/5"
>
  <span class="text-slate-400 font-light">{titleDirection}</span>
  <p class="text-[#38BDF8]">{title}</p>
</a>
