---
import "./src/styles/global.css";
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Machine Learning Python Cheat Sheet</title>
  </head>
  <body>
    <slot />
    <img
      class="pattern-bottom-left"
      src="./bg-blue.svg"
      alt="background-pattern-bottom-left-blue"
    />
    <img
      class="pattern-top-right"
      src="./bg-purple.svg"
      alt="background-pattern-top-right-purple"
    />
  </body>
</html>
